Bilder_Kolorierung_dataset/
combined_images/
datasets/
test/
train/
test.csv
train.csv
test_with_section_ids.csv
train_with_section_ids.csv
runs/
prediction_cat/!/conv-network/data.csv
temp_folder_images/
temp_folder_rows/

.idea

__pycache__
data.zip